@model BuscaDeProdutosViewModel;

@{
    ViewData["Title"] = "BuscaDeProdutos";

    const int TAMANHO_PAGINA = 4;

    var categorias = Model.Produtos.Select(p => p.Categoria).Distinct();
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Buscar produtos</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form asp-action="BuscaDeProdutos">
                        <input type="text" name="pesquisa" class="form-control input-lg" placeholder="categoria ou produto" id="Pesquisa" asp-for="@Model.Pequisa" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@foreach (var categoria in categorias)
{

    <h3>@categoria.Nome</h3>
    <div id="my-carousel-@categoria.Id" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

            @{
                var produtosDaCategoria = Model.Produtos.Where(p => p.Categoria.Id == categoria.Id).ToList();

                int paginas = (int)Math.Ceiling((double)produtosDaCategoria.Count() / TAMANHO_PAGINA);

            }


            @for (int pagina = 0; pagina < paginas; pagina++)
            {
                <div class="item @(pagina == 0 ? "active" : "")">
                    <div class="row">

                        @{
                            var produtosDaPagina = produtosDaCategoria.Skip(pagina * TAMANHO_PAGINA).Take(TAMANHO_PAGINA);
                        }

                        @foreach (var produto in produtosDaPagina)
                        {
                            <div class="col-md-3 col-sm-3 col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img class="img-produto-carrossel" src="/images/produtos/large_@(produto.Codigo).jpg" />
                                    </div>
                                    <div class="panel-footer produto-footer">
                                        <div class="produto-nome">@produto.Nome</div>
                                        <div><h4><strong>R$ @produto.Preco</strong></h4></div>
                                        <div class="text-center">
                                            <a asp-action="carrinho"
                                               asp-route-codigo="@produto.Codigo"
                                               class="btn btn-success">Adicionar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            }


        </div>

        <a class="left carousel-control" href="#my-carousel-@categoria.Id" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-carousel-@categoria.Id" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>


    </div>

}

@if (Model.Produtos.Count() == 0)
{
    <h3>Nenhum produto encontrado</h3>
}


